

/* App.css */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.leftPanel {
  flex: 1;
  margin-right: 20px; 
}

.rightPanel {
  flex: 1;
  height: 300px; 
}

.land {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid black;
  position: relative;         
}

